body{
    background-color: #a0f1ff;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;

}
#container{
    width: 80%;
    margin: 10px auto;
    border: 3px solid #8280cf;
    background-color: #dbf0f7;
    padding: 100px;
    box-shadow: 0 0 10px #80e4ce;

}
#header{
    text-align: center;
    border-bottom:2 px solid #77c9d4;
    padding-bottom: 10 px;
    margin-bottom: 20 px;
}
.subtitle{
    color: #5c9ea4;
    font-style: italic;
}
#main{
    display: flex;
}
#sidebar{
    width: 25%;
    background-color: #bcbfec;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
}
#content{
    width: 70%;
    margin-left: 5%;
}
.post{
    border: 2px solid #0a3131;
    background-color: #a4eeee;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}